# Add your access token and rename this file to .env
VITE_YOUR_MAPBOX_ACCESS_TOKEN=replace_with_your_mapbox_access_token
# Anthropic API key is required for the `demo-nyc-neighborhood-finder` app only - not required for other demos
ANTHROPIC_API_KEY=replace_with_your_anthropic_api_key
