@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.app,
#map {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.react-tooltip {
  pointer-events: auto !important;
}

/* Toggle for Mapbox tooltips */
.info {
  bottom: -40px;
  right: 5%;
}

.info:hover {
  padding-top: 1rem;
  bottom: -47px;
}

@media (max-width: 640px) {
  .info {
    bottom: -30px;
    right: 5%;
  }

  .info:hover {
    padding-top: 1rem;
    bottom: -37px;
  }
}
