@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mapboxgl-popup-tip {
  display: none;
}

.react-tooltip {
  pointer-events: auto !important;
}

.marker {
  background-image: url('/img/location-marker.svg');
  background-size: contain;
  background-position-x: 50%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: width, height; 
  transition-duration: .1s; 
  transition-timing-function: linear; 
}

.marker.hovered {
  width: 60px;
  height: 60px;  
  background-image: url('/img/marker-highlight.svg');
  z-index: 10;
}
