@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mapboxgl-popup-tip {
  display: none;
}

.react-tooltip {
  pointer-events: auto !important;
}

.hover-marker {
  background-color: #602428;
  border: 2px solid white;
  height: 17px;
  width: 17px;
  background-position-x: 50%;
  border-radius: 50%;
  transition-property: width, height; 
  transition-duration: .1s; 
  transition-timing-function: linear; 
  /* Define Maker Animation */
  animation: hover-in 0.3s ease-in-out;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.marker {
  background-image: url('/img/location-marker.svg');
  background-size: contain;
  background-position-x: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition-property: width, height; 
  transition-duration: .1s; 
  transition-timing-function: linear; 
  /* Define Marker Animation */
  animation: pop-in 0.3s ease-out forwards, wobble 1.5s ease-in-out 0.3s forwards; 
  transform-origin: bottom center;
}

.marker::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #602428;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%)
}

/* Keyframe animation for pop-in */
@keyframes pop-in {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
    box-shadow: none;
  }
  70% {
    width: 55px;
    height: 55px;
    opacity: 1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);  /* Add a subtle shadow */
  }
  85% {
    width: 48px;
    height: 48px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);  /* Shrink shadow with wobble */
  }
  100% {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);  /* Final shadow size */
  }
}

/* Keyframe animation for slow wobble after pop-in */
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2.5deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Keyframe animation for hover-in */
@keyframes hover-in {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  70% {
    width: 12px;
    height: 12px;
    opacity: 1;
  }
  85% {
    width: 15px;
    height: 15px;
  }
  100% {
    width: 17px;
    height: 17px;
  }
}

/* Toggle for Mapbox tooltips */
.info {
  bottom: -40px;
  right: 5%;
}

.info:hover {
  padding-top: 1rem;
  bottom: -47px;
}

@media (max-width: 640px) {
  .info {
    bottom: -30px;
    right: 5%;
  }
  
  .info:hover {
    padding-top: 1rem;
    bottom: -37px;
  }
 }