:global(.poiCard) {
  pointer-events: all;
  display: flex;
  box-sizing: border-box;
  transform: translateY(100%);
  z-index: 2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  color: black;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

:global(.poiCard[data-opened='true']) {
  height: 40%;
}
:global(.poiCard[data-opened='false']) {
  height: 0;
}

@media (min-width: 1024px) {
  :global(.poiCard) {
    width: 436px;
    transform: translateX(-100%);
  }

  :global(.poiCard[data-opened='true']) {
    height: calc(100vh - 36px);
    margin-left: 2%;
    transform: translateY(0);
  }
}

.content {
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #9593f933;
  padding-left: 20px;
  padding-right: 20px;
}

.headerContent {
  display: flex;
  align-items: center;
}

.favouriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.handlerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

@media (min-width: 1024px) {
  .handlerContainer {
    display: none;
  }
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 24px;
  font-family: Inter;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -2%;
}

.image {
  height: 40px;
  margin-right: 10px;
}

.closeContainer {
  align-self: baseline;
}

.close {
  user-select: none;
  background: #f2f4f7;
  background-image: url('../../assets/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.details {
  display: flex;
  align-items: center;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsIcon {
  height: 34px;
  user-select: none;
  margin-right: 12px;
}

.addressLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsLabel {
  float: right;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0px;
}

.detailsPhoto {
  margin-top: 12px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.website {
  box-sizing: border-box;
  text-wrap: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

:global(.poiCard) .favouriteButton {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url('../../assets/favourite_no.svg');
  background-repeat: no-repeat;
  background-position: center;
}

:global(.poiCard[data-favourite='true']) .favouriteButton {
  background-image: url('../../assets/favourite_yes.svg');
  background-repeat: no-repeat;
  background-position: center;
}

:global(.poiCard[data-opened='true']) {
  transition: transform 0.3s ease;
  transform: translateY(0);
  min-height: 30%;
}

.handler {
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  width: 40px;
  height: 5px;
  border-radius: 4px;
  background-color: #e4e4e7;
}

.detailsDescription {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
}
