.switch {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

@media (min-width: 1024px) {
  .switch {
    right: 16px;
  }
}

.buttons {
  display: flex;
  box-sizing: border-box;
  height: 50px;
  background-color: #ffffff;
  align-items: center;
  padding: 6px;
  border-radius: 12px;
}

.buttons svg {
  width: 24px;
  height: 24px;
}

.button {
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  border: none;
  border-radius: 8px;
  background-color: white;
  font-family: Inter;
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
  transition: all 0.2s ease;
}

.divider {
  width: 1px;
  height: 18px;
  background-color: #dfe2e8;
  margin: 0 4px;
}

.button[aria-pressed='false']:not(:disabled):hover {
  background-color: #f5f5f5;
}

.button[aria-pressed='true'] {
  background-color: #4264fb;
  color: white;
}

.button[aria-pressed='true'] .icon {
  filter: brightness(0) invert(1);
}

.button[aria-pressed='true']:not(:disabled):hover {
  background-color: #0f38bf;
  color: white;
}

.icon {
  height: 24px;
}
