* {
  box-sizing: border-box;
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-family: var(--sans);
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
}
